// Colors
$text-color: #78ff4f;
$hover-color: #0011ff;
$footer-color: #ad21ff;
$active-color: black;

// Typography Size
$font-size-base: 19px;
$font-size-li: 18px;
$font-size-h1: 20px;
$font-size-h2: 17px;
$font-size-copyright: 16px;

